In [1]:
import pandas as pd

df = pd.read_csv("csv_files/pokemon_data.csv")

def line():
    print()
    print("-"* 160)
    print()

In [ ]:

# printing colums
print(df.columns)

# geting all the index
# print(df.index)

# geting the value of certain colums
# line()
# print(df[['Name', "Type 1", "Type 2"]][:5].to_string())

# geting row 
# line()
# print(df.iloc[1, 1]) # --> for index for index and second for columm. to get whole row just pass only 1st index

# line()
# # iterationg thorugh each data
# for i in df.index:
#     print(df.iloc[i, 1])
    # print()
# line()
# iterationg thorugh each data
# for _, row in df.iterrows():
    # print(f"{row["#"]}|{row["Name"]}|{row["Type 1"]}|{row["Type 1"]}")
    # print()

# acessign data not thorugh index
# print(df.loc[df["Legendary"] == True][["Name","Type 1", "Type 2", "Legendary"]].to_string())

# print(df.describe().to_string())

# print(df.sort_values(["Name", "Generation"]).to_string())

# df["Total"] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
# df.sort_values(["Total"], ascending= False).head(5)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total'],
      dtype='object')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770

filtering with specific detail

In [41]:
filter_df = df.copy()

filter_df["Total"] = filter_df['HP'] + filter_df['Attack'] + filter_df['Defense'] + filter_df['Sp. Atk'] + filter_df['Sp. Def'] + filter_df['Speed']
filter_df["Over Power"] = filter_df["Total"] >= 600

filter_df
filter_df.groupby("Type 1")[["Total","Attack", "HP"]].mean().sort_values(by="Total", ascending= False).head(5).round(2)
# filter_df

          Total  Attack     HP
Type 1
Dragon   550.53  112.12  83.31
Steel    487.70   92.70  65.22
Flying   485.00   78.75  70.75
Psychic  475.95   71.46  70.63
Fire     458.08   84.77  69.90