In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("csv_files/movies.csv")
df

               Title      Genre  Year  Rating    Votes
0          Inception     Sci-Fi  2010     8.8  2000000
1       Interstellar     Sci-Fi  2014     8.6  1800000
2    The Dark Knight     Action  2008     9.0  2500000
3  Avengers: Endgame     Action  2019     8.4  1200000
4           Parasite   Thriller  2019     8.6   800000
5              Joker   Thriller  2019     8.4  1200000
6          Frozen II  Animation  2019     6.9   300000

You’ll take a CSV of movies (title, genre, rating, year, votes) and answer questions like:
Which genre has the highest average rating?
Which year had the most movies?
Which movie in each genre has the highest rating?

In [79]:
# Which genre has the highest average rating?
filter_df = df.copy()
avg_rating_by_genre = filter_df.groupby("Genre")["Rating"].mean().sort_values(ascending= False)
# print(avg_rating_by_genre)

# which year had the most movies
most_movie_year = filter_df["Year"].value_counts().head(1).sort_values()
# filter_df["Year"].value_counts().sort_values(ascending=True)
# print(most_movie_year)

# which movie i each genra has the highhest rating
index  = filter_df.groupby("Genre")["Rating"].idxmax()
filter_df.loc[index, ["Title","Genre","Rating"]]

             Title      Genre  Rating
2  The Dark Knight     Action     9.0
6        Frozen II  Animation     6.9
0        Inception     Sci-Fi     8.8
4         Parasite   Thriller     8.6

Task:
From a Pokémon dataset (df), find the top 3 Pokémon with the highest Attack in each Type 1.
The output should include:
Type 1
Name
Attack

In [ ]:
import pandas as pd

df = pd.read_csv("csv_files/pokemon_data.csv")
clone_df = df.copy()

index = clone_df.groupby("Type 1")["Attack"].idxmax()
save = clone_df.loc[index, ["Type 1", "Name","Attack"]].sort_values(by="Attack", ascending=False).reset_index(drop=True).head(3)
# clone_df.loc[index, ["Type 1", "Name","Attack"]].reset_index(drop=True)
# clone_df.loc[index, ["Type 1", "Name","Attack"]].reset_index(drop=True).nlargest(3, "Attack")



# def top3_with_ties(group):
#     # Sort descending by Attack
#     sorted_group = group.sort_values(by="Attack", ascending=False)
#     # Find the 3rd highest Attack value (if group has less than 3, take min Attack)
#     if len(sorted_group) < 3:
#         cutoff = sorted_group["Attack"].min()
#     else:
#         cutoff = sorted_group.iloc[2]["Attack"]
#     # Return all Pokémon with Attack >= cutoff (so includes ties)
#     return sorted_group[sorted_group["Attack"] >= cutoff]

# top3_df = clone_df.groupby("Type 1").apply(top3_with_ties).reset_index(drop=True)
# top3_df[["Type 1", "Name", "Attack"]]